.user-list {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.list-item {
  border-radius: 15px;
  padding: 1rem;
  background-color: white;
  width: 75%;
  margin: 0.5rem auto;
  z-index: 1;
}
