* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(17, 17, 17);
  text-align: center;
  margin: 1.5rem auto;
}

.empty-list {
  color: rgb(166, 82, 245);
  font-size: 1.35rem;
  margin: 1rem;
}

.list-title {
  color: rgb(0, 255, 34);
}
